<div class="feedback-form">
  <form class="form">
    <h3>{{'modals.feedback.status' | translate}} {{ 'common.status.'+ feedbackForm.status | translate }}</h3>
    <mat-form-field class="field-group">
      <textarea matInput
        [(ngModel)]="feedbackForm.feedback"
        name="feedback"
        placeholder="{{ 'modals.feedback.feedback' | translate }}">
      </textarea>
    </mat-form-field>
    <div class="footer-form">
      <button mat-flat-button color="secondary" (click)="onCloseDialog()">
        {{ 'common.cancel' | translate }}
      </button>
      <button mat-flat-button color="primary" (click)="onSubmit(feedbackForm)">
        {{ 'common.ok' | translate }}
      </button>
    </div>
  </form>
</div>
