@import "../../../styles/colors.scss";

.office-preview {

  .office-container {
    font-family: 'Circular-Book';

    .office-data {

      .title {
        font-size: 18px;
      }

      .description  {
        font-size: 12px;
        font-family: 'Lato-Regular';
        color: $gray-dark;
      }
    }

    .map {
      height: 12rem;
      width: 100%;
      margin: 3% 0;
    }
  }

  .footer-dialog {
    text-align: end;

    .mat-primary {
      margin-right: 2%;
    }
  }
}
