<div class="company-form">
  <div class="title">{{ 'transactions.rewards_availables' | translate }}</div>
  <cuper-square-select *ngIf="rewards"
    [options]="rewards"
    [onSelect]="onSelectReward"
    [className]="'grid-container'">
  </cuper-square-select>
  <mat-dialog-actions>
    <button mat-flat-button color="primary"  class="submit-button" (click)="onSubmitReward();">
      {{ 'common.ok' | translate }}
    </button>
    <button mat-flat-button mat-dialog-close color="secondary">
      {{ 'common.cancel' | translate }}
    </button>
  </mat-dialog-actions>
</div>
