<div class="transactions-container">
  <form class="header" (ngSubmit)="onSearch()">
    <mat-form-field class="input-national-id">
      <input matInput
        [(ngModel)]="client.national_id"
        name="national_id">
      <button mat-button
        *ngIf="client.national_id"
        matSuffix mat-icon-button
        aria-label="Clear"
        (click)="client.national_id=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="instructions">
      <div class="content">
        Por favor ingrese el numero de cedula para acreditar los puntos.
      </div>
      <button mat-flat-button color="primary" type="submit">{{ 'common.save' | translate }}</button>
    </div>
  </form>
  <div class="title">
    <span class="label">{{ 'transactions.promotions' | translate }}</span>
    <div class="description">Seleccione una promoción para canjearla</div>
  </div>
  <cuper-table-card></cuper-table-card>
  <div class="title">{{ 'transactions.title' | translate }}</div>
  <mat-tab-group>
    <mat-tab label="{{ 'transactions.tabs.input' | translate }}">
      <cuper-table-card></cuper-table-card>
    </mat-tab>
    <mat-tab label="{{ 'transactions.tabs.output' | translate }}">
      <cuper-table-card></cuper-table-card>
    </mat-tab>
  </mat-tab-group>
</div>
