<div class="transactions-container">
  <div class="title">{{ 'transactions.new' | translate }}</div>
  <cuper-user-search class="user-card"
    [rightButton]="rightButton"
    [leftButton]="leftButton"
    (propagateUserData)="onListerCustomerSearch($event)"></cuper-user-search>
  <div class="title">{{ 'transactions.title' | translate }}</div>
  <mat-tab-group>
    <mat-tab label="{{ 'transactions.tabs.input' | translate }}">
      <cuper-table [columnsDef]="columnsInputTransaction" [data]="inputTransactions"></cuper-table>
    </mat-tab>
    <mat-tab label="{{ 'transactions.tabs.output' | translate }}">
      <cuper-table [columnsDef]="columnsOutputTransaction" [data]="outputTransactions"></cuper-table>
    </mat-tab>
  </mat-tab-group>
</div>
