<div class="plans-page">
  <div class="header">
    <div class="title">{{'common.all' | translate}}</div>
    <button mat-raised-button color="primary" class="add-button"
      (click)="addPlan()">{{ 'admin.plans.new' | translate }}
    </button>
  </div>
  <div class="plans-container" *ngIf="loaded">
    <cuper-card-plan
      *ngFor="let plan of plans; let i = index"
      class="plan-card"
      [option]="plan"
      (propagatePlanData)="editPlan(plan, i)">
    </cuper-card-plan>
    <!-- <mat-card class="plan" *ngFor="let plan of plans; let i = index">
      <div class="content">
        <span class="name">{{plan.name}}</span>
        <br>
        <span class="points">Precio: {{plan.price}}</span>
        <br>
        <span class="status" [class.active]="plan.active">
          <div class="status-wrapper">
            {{ plan.active ? 'Activo' : 'Desactivado'}}
          </div>
        </span>
      </div>
      <button mat-icon-button class="edit-button" (click)="editPlan(plan, i)">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-card> -->
  </div>
  <cuper-loader class="loader" *ngIf="!plans"></cuper-loader>
</div>
