@import "../../../../styles/colors.scss";

::ng-deep .mat-menu-content {
  .option {
    &.disabled {
      display: none;
      // background: rebeccapurple;
    }
  }
}

.companies-container {
  padding: 3rem 5% 0 5%;

  .title {
    font-family: 'Circular-Book';
    font-size: 20px;
    margin-bottom: 1.5%;
  }

  .table-view {
    display: flex;
    width: 50rem;

    .table {
      width: 60%;
      height: 18rem;
    }

    .content-row {
      width: 40%;
      padding: 0;
      margin: 0;
      // margin: 0 0 0 1rem;
      height: 18rem;
      // border-top: 3px solid #d58900;

      .status {
        top: 0;
        right: 0;
        color: white;
        padding: 0.1rem 1rem;
        margin: 0.3rem 0 0 0;
        font-size: 10px;
        width: 3.5rem;
        text-align: center;

        &.approved {
          background-color: $primary;
        }

        &.disabled {
          background-color: $red;
        }

        &.pending {
          background-color: $celeste;
        }
      }

      .card-header {
        display: flex;
        justify-content: space-between;
        padding: 1rem;

        .company {
          display: flex;

          .text {
            padding: 0 0 0 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .name {
              font-family: 'Lato-Bold';
              font-size: 14px;
            }

            .slogan {
              font-family: 'Circular-Book';
              color: $gray-dark;
            }
          }
        }
      }

      .card-content {
        height: 70%;
        text-align: left;
        font-size: 12px;
        padding: 0 1rem;
        position: relative;
        margin-top: 1rem;

        .card-item {
          margin: 5px 0 10px 0;

          .card-title {
            font-family: 'Circular-Book';
          }

          .card-subtitle {
            font-family: 'Lato-Regular';
            color: $gray-dark;
          }
        }
      }

      .buttons {
        text-align: end;
      }
    }
  }
}
