@import '../../../styles/colors.scss';

.card-container {
	padding: 0;
  margin: 0;

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cashierList {
    padding: 0;
    margin: 0;
    max-height: 14rem;
    overflow: scroll;

    .cashier {
      display: flex;
      padding: 1.5rem 0.5rem;
      justify-content: space-between;
      align-items: center;
      position: relative;
      border-bottom: 1px solid $mercury;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        background-color: $labaster;
      }

      .status {
        position: absolute;
        top: 0;
        left: 0;
        color: white;
        padding: 0.1rem 1rem;
        font-size: 14px;
        width: 7rem;
        text-align: center;

        &.approved {
          background-color: $primary;
        }

        &.disabled {
          background-color: $red;
        }

        &.pending {
          background-color: $celeste;
        }
      }

      .avatar-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 7rem;
        padding: 0.1rem 1rem;
      }

      .cashier-data {
        display: flex;
        flex-direction: column;
        width: 85%;

        .name {
          font-family: 'Circular-Book';
        }

        .email {
          font-size: 12px;
          padding: 0.25rem 0;
          color: $gray-dark;
        }
      }

      .mat-flat-button {
        width: 7rem;

        &.disabled {
          background-color: $celeste;
        }

        &.approved {
          background-color: $celeste;
        }

        &.pending {
          background-color: $celeste;
        }
      }
    }
  }
}
