@import '../../../styles/colors.scss';

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cashierList {
  padding: 0;
  margin: 0;
  max-height: 14rem;
  overflow: scroll;

  .cashier {
    list-style: none;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $mercury;
    position: relative;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: $labaster;
    }

    .status {
      position: absolute;
      top: 0;
      left: 0;
      color: white;
      padding: 0.1rem;

      &.approved {
        background-color: $primary;
      }

      &.disabled {
        background-color: $red;
      }

      &.pending {
        background-color: $celeste;
      }
    }

    .row-cashier {
      display: flex;
      align-items: center;
      margin-top: 1.5%;

      .avatar {
        width: 2.5rem;
        height: 2.5rem;
      }

      .data {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-left: 5%;
        margin-right: 5%;

        .name {
          font-size: 16px;
          font-weight: bold;
        }

        .email {
          font-size: 12px;
        }
      }

      .mat-flat-button {
        width: 7%;

        &.approved {
          background-color: $red;
        }

        &.pending {
          background-color: $celeste;
        }
      }
    }

  }
}
