<div class="company-form">
  <form class="form" (ngSubmit)="onSubmitPassword()" [formGroup]="passwordFormGroup">
    <mat-form-field class="field-group">
      <input matInput
        class="input-box"
        name="new_password"
        placeholder="{{ 'user.passwordNew' | translate }}"
        formControlName="new_password">
        <mat-error>
          <cuper-control-messages [control]="passwordFormGroup.get('new_password')">
          </cuper-control-messages>
        </mat-error>
    </mat-form-field>
    <mat-error *ngIf="errorsForm.password">
        {{errorsForm.password[0]}}
    </mat-error>
    <mat-form-field class="field-group">
      <input matInput
        class="input-box"
        name="email"
        placeholder="{{ 'login.form.email' | translate }}"
        type="email"
        formControlName="email">
      <mat-hint>{{ 'user.email_to_notify_change_password' | translate }}</mat-hint>
      <mat-error>
        <cuper-control-messages [control]="passwordFormGroup.get('email')">
        </cuper-control-messages>
      </mat-error>
    </mat-form-field>
    <mat-dialog-actions class="footer-form">
      <button mat-flat-button color="primary" type="submit">
        {{ 'common.ok' | translate }}
      </button>
      <button mat-flat-button mat-dialog-close color="secondary">
        {{ 'common.cancel' | translate }}
      </button>
    </mat-dialog-actions>
  </form>
</div>
