<div class="company-form">
  <form class="form" (ngSubmit)="onSubmit()" [formGroup]="companyFormGroup" novalidate>
    <mat-form-field class="field-group">
      <input matInput
        name="legal_representative"
        placeholder="{{ 'company.legal_representative' | translate }}"
        formControlName="legal_representative">
        <mat-error>
          <cuper-control-messages [control]="companyFormGroup.get('legal_representative')">
          </cuper-control-messages>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="field-group">
      <input matInput
        name="business_name"
        placeholder="{{ 'company.business_name' | translate }}"
        formControlName="business_name">
        <mat-error>
          <cuper-control-messages [control]="companyFormGroup.get('business_name')">
          </cuper-control-messages>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="field-group">
      <input matInput
        name="ruc"
        type="number"
        placeholder="{{ 'company.ruc' | translate }}"
        formControlName="ruc">
        <mat-error>
          <cuper-control-messages [control]="companyFormGroup.get('ruc')">
          </cuper-control-messages>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="field-group">
      <input matInput
        name="slogan"
        placeholder="{{ 'company.slogan' | translate }}"
        formControlName="slogan">
    </mat-form-field>
    <mat-form-field class="field-group">
      <input matInput
        name="contributor_type"
        placeholder="{{ 'company.contributor_type' | translate }}"
        formControlName="contributor_type">
    </mat-form-field>
    <mat-form-field class="field-group">
      <input matInput
        name="economic_activity"
        placeholder="{{ 'company.economic_activity' | translate }}"
        formControlName="economic_activity">
    </mat-form-field>
    <mat-form-field class="field-group" *ngIf="categories$ | async as data">
      <mat-label>{{ 'company.category' | translate }}</mat-label>
      <mat-select formControlName="category_id">
        <mat-option *ngFor="let category of data.categories" [value]="category.id">
          {{category.name}}
        </mat-option>
      </mat-select>
      <mat-error>
        <cuper-control-messages [control]="companyFormGroup.get('category_id')">
        </cuper-control-messages>
      </mat-error>
    </mat-form-field>
  </form>
</div>
