<div class="company-form">
  <form class="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="field-group">
      <input matInput
        [(ngModel)]="company.legal_representative"
        name="legal_representative"
        placeholder="{{ 'company.legal_representative' | translate }}"
        required>
    </mat-form-field>
    <mat-form-field class="field-group">
      <input matInput
        [(ngModel)]="company.business_name"
        name="business_name"
        placeholder="{{ 'company.business_name' | translate }}"
        required>
    </mat-form-field>
    <mat-form-field class="field-group">
        <input matInput
          [(ngModel)]="company.ruc"
          name="ruc"
          type="number"
          placeholder="{{ 'company.ruc' | translate }}"
          required>
    </mat-form-field>
    <mat-form-field class="field-group">
      <input matInput
        [(ngModel)]="company.slogan"
        name="slogan"
        placeholder="{{ 'company.slogan' | translate }}">
    </mat-form-field>
    <mat-form-field class="field-group">
      <input matInput
        [(ngModel)]="company.contributor_type"
        name="contributor_type"
        placeholder="{{ 'company.contributor_type' | translate }}">
    </mat-form-field>
    <mat-form-field class="field-group">
      <input matInput
        [(ngModel)]="company.economic_activity"
        name="economic_activity"
        placeholder="{{ 'company.economic_activity' | translate }}">
    </mat-form-field>
  </form>
</div>
