<div class="recover-password-container">
  <div class="content">
    <div class="view">
      <div class="logo">
        <img class="logoName" src="../../../../assets/images/logo-club.svg" />
      </div>
      <form class="form" [formGroup]="passwordForm">
        <mat-form-field class="field-group">
          <input matInput
            formControlName="password"
            placeholder="{{ 'reset_password.form.password' | translate }}"
            [type]="showPassword.password ? 'text' : 'password'">
          <mat-icon
            class="icon-btn"
            [class.active]="showPassword.password"
            (click)="toggleShowPassword('password')">
            remove_red_eye
          </mat-icon>
          <mat-error>
            <cuper-control-messages [control]="passwordForm.get('password')">
            </cuper-control-messages>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="field-group">
          <input matInput
            formControlName="password_confirmation"
            placeholder="{{ 'reset_password.form.password_confirmation' | translate }}"
            [type]="showPassword.password_confirmation ? 'text' : 'password'">
          <mat-icon
            class="icon-btn"
            [class.active]="showPassword.password_confirmation"
            (click)="toggleShowPassword('password_confirmation')">
            remove_red_eye
          </mat-icon>
          <mat-error>
            <cuper-control-messages [control]="passwordForm.get('password_confirmation')">
            </cuper-control-messages>
          </mat-error>
        </mat-form-field>
        <button mat-flat-button color="primary" (click)="onSubmit()">
          {{ 'reset_password.change' | translate }}
        </button>
      </form>
      <div class="links">
        <a routerLink="/login">
          {{ 'register.already_account' | translate }}
        </a>
      </div>
      <div class="links">
        <span>
          {{ 'login.create_account' | translate }}
        </span>
        <a routerLink="/register">
          {{ 'login.register' | translate }}
        </a>
      </div>
    </div>
  </div>
</div>
<img class="illustration" src="../../../../assets/images/illustration-footer.svg" />
<app-footer></app-footer>
