@import "../../../styles/colors.scss";

.password-form {
	.field-group {
		width: 100%;
		margin-top: 0.5rem;

		.icon-btn {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			right: 5px;
			bottom: 5px;
			color: $gray-medium;
			font-size: 18px;
			cursor: pointer;

			&.active {
				color: $primary;
			}
		}
	}

  .footer-form {
		text-align: end;
		margin-top: 0.5rem;

		.mat-primary {
			margin-right: 2%;
		}
	}
}
