<div class="password-form">
  <form class="form" [formGroup]="passwordForm">
    <mat-form-field class="field-group">
      <input matInput
        formControlName="current_password"
        placeholder="{{ 'user.passwordCurrent' | translate }}"
        [type]="showPassword.current ? 'text' : 'password'">
      <mat-icon
        class="icon-btn"
        [class.active]="showPassword.current"
        (click)="toggleShowPassword('current')">
        remove_red_eye
      </mat-icon>
      <mat-error>
        <cuper-control-messages [control]="passwordForm.get('current_password')">
        </cuper-control-messages>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="field-group">
      <input matInput
        formControlName="password"
        placeholder="{{ 'user.passwordNew' | translate }}"
        [type]="showPassword.new ? 'text' : 'password'">
      <mat-icon
        class="icon-btn"
        [class.active]="showPassword.new"
        (click)="toggleShowPassword('new')">
        remove_red_eye
      </mat-icon>
      <mat-error>
        <cuper-control-messages [control]="passwordForm.get('password')">
        </cuper-control-messages>
      </mat-error>
    </mat-form-field>
    <div class="footer-form">
      <button mat-flat-button color="secondary" (click)="onCloseDialog()">
        {{ 'common.cancel' | translate }}
      </button>
      <button mat-flat-button color="primary" (click)="onSubmit()">
        {{ 'common.ok' | translate }}
      </button>
    </div>
  </form>
</div>
