<div class="password-form">
  <form class="form">
    <mat-form-field class="field-group">
      <input matInput
        [(ngModel)]="passwordForm.passwordCurrent"
        name="passwordCurrent"
        placeholder="{{ 'user.passwordCurrent' | translate }}"
        [type]="showPassword.current ? 'text' : 'password'"
        required>
      <mat-icon
        class="icon-btn"
        [class.active]="showPassword.current"
        (click)="toggleShowPassword('current')">
        remove_red_eye
      </mat-icon>
    </mat-form-field>
    <mat-error *ngIf="errorsForm.current_password">
      {{errorsForm.current_password[0]}}
    </mat-error>
    <mat-form-field class="field-group">
      <input matInput
        [(ngModel)]="passwordForm.passwordNew"
        name="passwordNew"
        placeholder="{{ 'user.passwordNew' | translate }}"
        [type]="showPassword.new ? 'text' : 'password'"
        required>
      <mat-icon
        class="icon-btn"
        [class.active]="showPassword.new"
        (click)="toggleShowPassword('new')">
        remove_red_eye
      </mat-icon>
    </mat-form-field>
    <mat-error *ngIf="errorsForm.password">
      {{errorsForm.password[0]}}
    </mat-error>
    <div class="footer-form">
      <button mat-flat-button color="primary" (click)="onSubmit(passwordForm)">
        {{ 'common.ok' | translate }}
      </button>
      <button mat-flat-button color="secondary" (click)="onCloseDialog()">
        {{ 'common.cancel' | translate }}
      </button>
    </div>
  </form>
</div>
