<div class="avatar-container">
  <cuper-avatar-file
    [file]="data.company.logo_url"
    (propagateFile)="onListenerFile($event)"
    [size]="80">
  </cuper-avatar-file>
</div>
<cuper-company-form [companyFormGroup]="companyFormGroup"></cuper-company-form>
<mat-dialog-actions>
  <button mat-flat-button
    color="primary"
    class="submit-button"
    (click)="onSubmitCompany()">
    {{ 'common.ok' | translate}}
  </button>
  <button mat-dialog-close mat-flat-button color="secondary">{{ 'common.cancel' | translate}}</button>
</mat-dialog-actions>
