<div class="user-form">
  <form class="form" [formGroup]="profileForm">
    <div class="avatar-container">
      <cuper-avatar-file
        [file]="data.user.image_url"
        (propagateFile)="onListenerFile($event)"
        [size]="80">
      </cuper-avatar-file>
    </div>
    <mat-form-field class="field-group">
      <input matInput formControlName="name" placeholder="{{ 'user.name' | translate }}">
      <mat-error>
        <cuper-control-messages [control]="profileForm.get('name')">
        </cuper-control-messages>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="field-group">
      <input matInput formControlName="email" placeholder="{{ 'user.email' | translate }}">
      <mat-error>
        <cuper-control-messages [control]="profileForm.get('email')">
        </cuper-control-messages>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="field-group">
      <input matInput formControlName="national_id" placeholder="{{ 'user.national_id' | translate }}">
      <mat-error>
        <cuper-control-messages [control]="profileForm.get('national_id')">
        </cuper-control-messages>
      </mat-error>
    </mat-form-field>
    <div class="footer-form">
      <button mat-flat-button color="secondary" (click)="onCloseDialog()">
        {{ 'common.cancel' | translate }}
      </button>
      <button mat-flat-button color="primary" (click)="onSubmit()">
        {{ 'common.ok' | translate }}
      </button>
    </div>
  </form>
</div>
