.user-form {
	.field-group {
		width: 100%;
		margin-top: 0.5rem;
	}

  .footer-form {
		text-align: end;

		.mat-primary {
			margin-right: 2%;
		}
  }

  .avatar-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
