<mat-card>
  <div class="card-header">
    <div class="card-header-title">
      <mat-icon>store</mat-icon>
      <div>{{ 'common.company' | translate }}</div>
    </div>
    <div>
      <button mat-icon-button class="edit-button" (click)="editCompany()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="card-content">
    <div class="avatar-container">
      <cuper-avatar [imageSrc]="company?.image"></cuper-avatar>
    </div>
    <div class="company-name">{{company?.business_name}}</div>
    <div class="company-slogan">{{company?.slogan || 'company.not_slogan' | translate}}</div>
    <div class="company-created-at">{{'company.registered_at' | translate}}: {{company?.created_at | date }}</div>
  </div>
</mat-card>
