<div class="card-container">
  <div class="view">
    <div class="header-card">
      <div class="title">{{ 'reward.preview' | translate }}</div>
    </div>
    <div class="panel-card">
      <cuper-reward-card class="reward-card"
        [promotion]="reward"
        [editReward]="onEditReward">
      </cuper-reward-card>
      <mat-card class="column-card beneficiaries">
        <div class="title-column">{{ 'reward.beneficiaries' | translate }}</div>
        <div class="empty-state" *ngIf="outputTransactions && !outputTransactions.length">
          <span class="title">{{ 'empty-state.beneficiaries.title' | translate }}</span>
          <span class="tip">{{ 'empty-state.beneficiaries.tip' | translate }}</span>
        </div>
        <cuper-table *ngIf="outputTransactions && outputTransactions.length"
          [columnsDef]="columnsOutputTransaction"
          [data]="outputTransactions">
        </cuper-table>
      </mat-card>
    </div>
  </div>
</div>
