.empty-state {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10% 0;

  .title {
    font-family: 'Circular-Book';
    font-size: 14px;
  }

  .tip {
    font-family: 'Lato-Regular';
    padding-top: 5px;
  }
}
