<mat-card class="card-container">
  <div class="card-content">
    <div class="promo-wrapper">
      <div class="price">
        <span class="currency">$</span>
        <span class="number">{{option.price}}</span>
      </div>
      <div class="information">
        <span class="time">/ {{option.time}}</span>
      </div>
    </div>
    <span class="promo"
      *ngIf="option.promotion">
      *{{option.promotion}}
    </span>
    <!-- <button mat-stroked-button color="primary">
      Seleccionar
    </button> -->
  </div>
</mat-card>
