.reward-container {
  padding: 3rem 5% 0 5%;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: end;

    .title {
      font-family: 'Circular-Book';
      font-size: 20px;
      margin-bottom: 1.5%;
    }

    .filters {
      display: flex;

      .filter {

        &.middle {
          padding: 0 5px;
          margin: 0 5px;
          border-right: 1px solid black;
          border-left: 1px solid black;
          cursor: pointer;
        }
      }
    }
  }
}
