<form class="card-container" [formGroup]="rewardFormGroup" (ngSubmit)="onSubmitReward()">
  <div class="view">
    <div class="header-card">
      <span class="title">{{ 'common.new_reward' | translate }}</span>
      <div class="buttons-container">
        <button mat-raised-button color="secondary" type="button" (click)="onRedirectPage()">
          {{ 'common.cancel' | translate }}
        </button>
        <button mat-flat-button color="primary" type="submit">
          {{ (isEditRoute ? 'common.update_data' : 'common.save')  | translate }}
        </button>
      </div>
    </div>
    <div class="panel-card">
      <mat-card class="column-card">
        <div class="preview-container">
          <span class="label">{{ 'common.preview' | translate }}</span>
          <cuper-preview-reward *ngIf="myCompany" class="reward"
            [file]="reward?.image"
            [companyAvatar]="myCompany?.logo_url"
            [companyName]="myCompany?.business_name"
            [promotionTitle]="reward?.title"
            (propagateFile)="onListenerFile($event)">
          </cuper-preview-reward>
        </div>
        <mat-form-field class="field-group">
          <input matInput
            formControlName="title"
            placeholder="{{ 'reward.new.form.title' | translate }}">
          <mat-error>
            <cuper-control-messages [control]="rewardFormGroup.get('title')">
            </cuper-control-messages>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="field-group">
          <textarea matInput
            formControlName="terms"
            placeholder="{{ 'reward.new.form.customMessage' | translate }}">
          </textarea>
          <mat-error>
            <cuper-control-messages [control]="rewardFormGroup.get('terms')">
            </cuper-control-messages>
          </mat-error>
        </mat-form-field>
      </mat-card>
      <mat-card class="column-card">
        <div class="offices-container">
          <span class="label">{{ 'reward.new.form.office' | translate }}</span>
          <div class="placeholder-container">
            <cuper-placeholder-card *ngIf="officeSelected && myOffices && myOffices.length <= 0"
              [text]="'office.create' | translate" [onClick]="onNewOffice">
            </cuper-placeholder-card>
          </div>
          <cuper-square-select *ngIf="officeSelected && myOffices && myOffices.length > 0" [options]="myOffices"
            [onSelect]="onSelectOffice" [seletedOption]="officeSelected">
          </cuper-square-select>
        </div>
        <div class="double-column">
          <mat-form-field class="field-group">
            <input matInput type="number"
              formControlName="total_rewards"
              placeholder="{{ 'reward.new.form.totalRewards.label' | translate }}">
            <mat-hint>{{ 'reward.new.form.totalRewards.description' | translate }}</mat-hint>
            <mat-error>
              <cuper-control-messages [control]="rewardFormGroup.get('total_rewards')">
              </cuper-control-messages>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="field-group">
            <input matInput type="number"
              formControlName="points_required"
              placeholder="{{ 'reward.new.form.pointsRequired.label' | translate }}">
            <mat-hint>{{ 'reward.new.form.pointsRequired.description' | translate }}</mat-hint>
            <mat-error>
              <cuper-control-messages [control]="rewardFormGroup.get('points_required')">
              </cuper-control-messages>
            </mat-error>
          </mat-form-field>
        </div>
        <mat-checkbox class="unlimited-reward"
          formControlName="unlimited"
          (change)="onChangeTotalRewards($event)">
          {{ 'reward.new.form.unlimited' | translate }}
        </mat-checkbox>
        <div class="dates-container">
          <span class="label">{{ 'reward.new.form.duration' | translate }}</span>
          <div class="double-column">
            <mat-form-field class="field-group" [class.disabled]="isEditRoute">
              <input matInput [matDatepicker]="picker"
                formControlName="start_at"
                placeholder="{{ 'reward.new.form.start_at' | translate }}"
                [min]="currentDate" (dateChange)="onChangeStartTime($event)">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error>
                <cuper-control-messages [control]="rewardFormGroup.get('start_at')">
                </cuper-control-messages>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="field-group" [class.disabled]="isEditRoute">
              <input matInput [matDatepicker]="picker1"
                formControlName="end_at"
                placeholder="{{ 'reward.new.form.end_at' | translate }}"
                [min]="rewardFormGroup.value.start_at">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
              <mat-error>
                <cuper-control-messages [control]="rewardFormGroup.get('end_at')">
                </cuper-control-messages>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</form>
