@import "../../../styles/colors.scss";

.card-container {
  padding: 0;
	margin: 0;
	background: #233de8;
	color: white;

  .card-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > div {
      margin-bottom: 10px;
    }

    text-align: center;
    font-size: 12px;

    .points {
			font-size: 35px;
			font-family: 'Circular-Bold'
    }

    .description {
      font-style: 'Lato-Semibold';
    }
  }
}
