<mat-dialog-content>
  <div class="card-container">
    <div class="left-container">
      <form [formGroup]="officeForm" novalidate>
        <mat-form-field>
          <input matInput placeholder="{{ 'office.name' | translate }}" formControlName="name">
          <mat-error>
            <cuper-control-messages [control]="officeForm.get('name')"></cuper-control-messages>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="{{ 'office.phone' | translate }}" formControlName="phone">
          <mat-error>
            <cuper-control-messages [control]="officeForm.get('phone')"></cuper-control-messages>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="{{ 'office.email' | translate }}" formControlName="email" type="email">
          <mat-error>
            <cuper-control-messages [control]="officeForm.get('email')"></cuper-control-messages>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="{{ 'office.address' | translate }}" formControlName="address">
          <mat-error>
            <cuper-control-messages [control]="officeForm.get('address')"></cuper-control-messages>
          </mat-error>
        </mat-form-field>
      </form>
    </div>
    <div class="right-container">
      <cuper-map [coordinate]="officePosition" (onChangePosition)="onListerMapPosition($event)"></cuper-map>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-dialog-close mat-flat-button color="secondary">{{ 'common.cancel' | translate}}</button>
  <button mat-flat-button
    color="primary"
    class="submit-button"
    [disabled]="!officeForm.valid"
    (click)="onSubmitOffice()">
    {{ 'common.save' | translate}}
  </button>
</mat-dialog-actions>
