<div class="company-form">
  <form class="form" (ngSubmit)="onCloseDialog()">
    <mat-form-field class="field-group">
      <input matInput
        class="input-box"
        [(ngModel)]="data.invoice.cost"
        name="legal_representative"
        placeholder="{{ 'transactions.input_form.cost.label' | translate }}"
        type="number">
      <mat-hint>{{ 'transactions.input_form.cost.description' | translate }}</mat-hint>
    </mat-form-field>
    <div class="footer-form">
      <button mat-flat-button color="primary" [mat-dialog-close]="data.invoice" type="submit">
        {{ 'common.ok' | translate }}
      </button>
      <button mat-flat-button color="secondary" (ngClick)="onCloseDialog()">
        {{ 'common.cancel' | translate }}
      </button>
    </div>
  </form>
</div>
