<div class="reward-container">
  <div class="title">{{'common.last' | translate}}</div>
  <div class="last-rewards">
    <div class="placeholder-container">
      <cuper-placeholder-card [text]="'reward.create' | translate"
        [onClick]="onNewReward">
      </cuper-placeholder-card>
    </div>
    <div *ngFor="let reward of lastRewards">
      <cuper-reward-small-card
        [reward]="reward"
        [onClick]="onEditReward">
      </cuper-reward-small-card>
    </div>
  </div>
  <div class="title">{{'common.all' | translate}}</div>
  <cuper-table-card *ngIf="myRewards && myRewards.length"
    [items]="myRewards"
    [pagniationOptions]="pagniationOptions"
    [onClick]="onEditReward">
  </cuper-table-card>
  <mat-card *ngIf="myRewards && myRewards.length === 0">
    <div class="empty-state">
      <span class="title">{{ 'empty-state.rewards.title' | translate }}</span>
      <span class="tip">{{ 'empty-state.rewards.tip' | translate }}</span>
    </div>
  </mat-card>
</div>
