<mat-card class="card-container">
  <div class="card-header">
    <span class="text">{{ 'common.offices' | translate }}</span>
    <button mat-icon-button class="add-button" (click)="onAddOffice()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="card-content" *ngIf="myOffices$ | async as data">
    <ul class="offices" *ngIf="data.offices as offices">
      <li class="office" *ngFor="let office of offices" (click)="onSelectOffice(office)">
        <img class="avatar" src="../../../assets/images/shop.svg" />
        <span class="text">{{office.name}}</span>
      </li>
    </ul>
    <div class="emptyState" *ngIf="!data.offices">
      Empty state
    </div>
  </div>
</mat-card>
