<div class="header-container">
  <div class="logo-container">
    <a routerLink="home">
      <img class="logo" src="../../../../assets/images/logo-horizontal.svg" alt="cuper-logo" />
    </a>
  </div>
  <div class="tabs-header">
    <div class="status-user">
      <!-- TODO: Just to partner and cashier role -->
      <div *ngIf="company" class="tex">
        <h3>{{company.businessName}}</h3>
        <div class="status">
          <mat-icon>{{status.icon}}</mat-icon>
          <span>{{status.message}}</span>
        </div>
      </div>
    </div>
    <div class="menu-container" *ngIf="currentUser">
      <div class="menu" [matMenuTriggerFor]="menu">
        <cuper-avatar [imageSrc]="currentUser.image" size='40'></cuper-avatar>
        <span class="title" *ngIf="currentUser">{{currentUser.nickname}}</span>
        <mat-menu #menu="matMenu">
          <div class="user-data">
            <cuper-avatar [imageSrc]="currentUser.image" size='40'></cuper-avatar>
            <div class="user-info">
              <span class="name">{{currentUser.nickname}}</span>
              <span class="email">{{currentUser.email}}</span>
            </div>
          </div>
          <button mat-menu-item (click)="goToMyProfile()">
            <span>{{ 'common.profile' | translate }}</span>
          </button>
          <button mat-menu-item (click)="logOut()">
            <span>{{ 'common.logout' | translate }}</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</div>

<div class="main-view">
  <div class="left-panel">
    <a routerLink="company" class="tabs" routerLinkActive="active">
      <mat-icon>view_module</mat-icon>
      <span>Dashboard</span>
    </a>
    <a routerLink="rewards" class="tabs" routerLinkActive="active">
      <mat-icon>cake</mat-icon>
      <span>Recompensas</span>
    </a>
    <a routerLink="my_company" class="tabs" routerLinkActive="active">
      <mat-icon>business</mat-icon>
      <span>Compañia</span>
    </a>
  </div>
  <div class="render-container">
    <router-outlet *ngIf="currentUser"></router-outlet>
  </div>
</div>
