<div class="login-container">
  <div class="content">
    <div class="view">
      <div class="logo">
        <img class="logoName" src="../../../../assets/images/logo-club.svg" />
      </div>
      <form class="form" (ngSubmit)="login()">
        <mat-form-field class="field-group">
          <input matInput
            type="email"
            [(ngModel)]="user.email"
            name="email"
            placeholder="{{ 'login.form.email' | translate }}"
            required>
        </mat-form-field>
        <mat-form-field class="field-group">
          <input matInput
            type="password"
            [(ngModel)]="user.password"
            name="password"
            placeholder="{{ 'login.form.password' | translate }}"
            required>
        </mat-form-field>
        <button mat-flat-button color="primary" type="submit">
          {{ 'login.signin' | translate }}
        </button>
      </form>
      <div class="links">
        <span>
          {{ 'login.create_account' | translate }}
        </span>
        <a routerLink="/register">
          {{ 'login.register' | translate }}
        </a>
      </div>
    </div>
  </div>
</div>
<img class="illustration" src="../../../../assets/images/illustration-footer.svg" />
<app-footer></app-footer>
