<div class="login-container">
  <div class="content">
    <div class="view">
      <div class="logo">
        <img class="logoName" src="../../../../assets/images/logo-club.svg"/>
      </div>
      <Form class="form" (ngSubmit)="onLogin()">
        <form (ngSubmit)="login()">
          <mat-form-field class="field-group">
            <input matInput
                [(ngModel)]="user.email"
                name="email"
                placeholder="{{ 'login.form.email' | translate }}"
                required>
          </mat-form-field>
          <mat-form-field class="field-group">
            <input matInput
                [(ngModel)]="user.password"
                name="password"
                placeholder="{{ 'login.form.password' | translate }}"
                type="password" required>
          </mat-form-field>
          <button mat-flat-button color="primary" type="submit">{{ 'login.signin' | translate }}</button>
        </form>
      </Form>
      <div class="linkBtn">
        <span class="link">
          {{ 'login.create_account' | translate }}
        </span>
      </div>
    </div>
  </div>
</div>
<img class="illustration" src="../../../../assets/images/illustration-footer.svg"/>
