<p>
  Cuper Club
</p>

<form (ngSubmit)="login()">
  <mat-form-field>
    <input matInput
        name="email"
        placeholder="{{ 'login.form.email' | translate }}"
        [(ngModel)]="user.email"
        required>
  </mat-form-field>
  <mat-form-field>
    <input matInput
        name="password"
        placeholder="{{ 'login.form.password' | translate }}"
        [(ngModel)]="user.password"
        [type]="hide ? 'password' : 'text'"
        required>
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </mat-form-field>
  <button mat-flat-button color="primary" type="submit">{{ 'login.signin' | translate }}</button>
</form>
