@import "../../../../styles/colors.scss";

.settings-page {
  padding: 3rem 5% 0 5%;

  .header {
    display: flex;
    justify-content: space-between;
    margin: 0 3rem 0 1rem;

    .title {
      font-family: 'Circular-Book';
      font-size: 20px;
      margin-bottom: 1.5%;
    }
  }


  .settings-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .setting {
	    width: 15rem;
      // margin: 1rem;
    }

    .plan-selected {
      height: 6rem;
    }
  }

  .loader {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
}
