@import '../../../styles/colors';

:host {
  position: absolute;
  display: table;
  height: 100%;
  width: 100%;
}

.header-container {
  height: 3.7rem;
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
  border-bottom: 1px solid $gray-medium;
  align-items: center;

  .logo-container {
    padding-left: 1rem;
    width: 19rem;
    display: flex;

    .logo {
      height: 2rem;
    }
  }

  .tabs-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 0.5rem;

    .status-company {
      display: flex;
      justify-content: center;
      align-items: center;

      .employee-container {
        display: flex;
        align-items: center;
        cursor: pointer;

        .account {
          display: flex;
          flex-direction: column;

          .company-name{
            font-family: 'Circular-Book';
            font-size: 12px;
          }

          .employee-status{
            display: flex;
            font-family: 'Lato-Regular';
            font-size: 10px;

            &.approved {
              color: $green;
            }

            &.disabled {
              color: $gray-dark;
            }

            &.pending {
              color: $orange;
            }

            .icon {
              font-size: 12px;
              width: 0.6rem;
              height: 0.6rem;
              margin-right: 0.5rem;
            }
          }
        }
      }

      .add-button {
        font-size: 10px;
        color: $celeste;
      }
    }

    .menu-container {
      display: flex;
      align-items: center;

      .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        .menu-action {
          display: flex;
          align-items: center;

          .profile-container {
            display: flex;
            align-items: center;

            .title {
              font-family: 'Circular-Book';
              font-size: 12px;
              margin-left: 1rem;
            }
          }
        }
      }
    }
  }
}

::ng-deep .mat-menu-content {
  width: 12rem;

  .user-data {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid $gray-medium;

    .user-info {
      display: flex;
      flex-direction: column;

      .name {
        font-family: 'Circular-Book';
        font-size: 12px;
      }

      .email {
        font-family: 'Lato-Regular';
        font-size: 10px;
        color: $gray-dark;
      }
    }
  }

  .item-wrapper {
    display: flex;
    align-items: center;

    .information {
      margin-left: 0.5rem;
      display: flex;
      flex-direction: column;
      line-height: normal;

      .name {
        font-family: 'Lato-Regular';
      }

      .role {
        font-size: 8px;
      }
    }
  }
}

.main-view {
  display: flex;
  height: 100%;

  .left-panel {
    background: white;
    width: 18rem;
    padding: 2rem 1rem 0 1rem;

    .tabs {
      display: flex;
      width: 100%;
      text-decoration: none;
      align-items: center;
      color: $gray-dark;
      font-size: 12px;

      &.disabled {
        opacity: 0.5;
        pointer-events: none;
      }

      mat-icon{
        padding-left: 3rem;
      }

      span {
        padding: 1rem;
      }

      &:hover:not(.active) {
        background: $labaster;
      }
    }

    .active {
      background: $primary;
      color: $white;
    }
  }

  .render-container {
    width: 100%;
    height: 100%;

    .loader {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
    }
  }
}
