<div class="preview-reward-container"
  [ngStyle]="{'background-image': 'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(' + file + ')'}"
  (click)="!disableEvents && openUploader()" [ngClass]="{'selectable': !disableEvents}">
  <div class="card-header">
    <cuper-avatar [imageSrc]="companyAvatar" [size]="40"></cuper-avatar>
    <div class="company-name">{{companyName}}</div>
  </div>
  <i class="material-icons logo-camera">camera_alt</i>
  <div class="promotion-title">{{promotionTitle}}</div>
</div>
<input id="uploader" type="file" (change)="onFileChange($event)" />
