@import "../../../styles/colors.scss";

.preview-reward-container {
  min-height: 100px;
  background-size: cover;
  border-radius: 30px;
  padding: 10px;
  background-color: $mercury;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $white;

  &.selectable {
    &:hover {
      opacity: 0.9;

      .logo-camera {
        display: flex;
        align-self: center;
      }
    }
  }

  .card-header {
    display: flex;
    align-items: center;

    .company-name {
      margin-left: 10px;
      font-weight: bold;
    }
  }

  .logo-camera {
    display: none;
  }

  .promotion-description {
    text-align: left;
  }
}

input {
  display: none;
}
