@import "../../../styles/colors.scss";

.preview-reward-container {
  min-height: 120px;
  background-size: cover;
  border-radius: 10px;
  padding: 10px;
  background-color: $mercury;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $white;
  position: relative;

  &.selectable {
    &:hover {
      opacity: 0.9;

      .logo-camera {
        display: flex;
        align-self: center;
        position: absolute;
        z-index: 17;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .card-header {
    // display: flex;
    // align-items: center;
    // text-align: end;

    .company-name {
      margin-left: 10px;
      font-weight: bold;
      text-align: end;
    }
  }

  .logo-camera {
    display: none;
  }

  .promotion-title {
    text-align: left;
  }
}

input {
  display: none;
}
