.card-container {
  padding: 0;
  margin: 0;

  .card-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
