<mat-card class="card-container">
  <div class="card-header">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onUpdateInformation()">
        <mat-icon>edit</mat-icon>
        <span>{{ 'common.update_data' | translate }}</span>
      </button>
      <button mat-menu-item (click)="onUpdatePassword()">
        <mat-icon>vpn_key</mat-icon>
        <span>{{ 'common.update_password' | translate }}</span>
      </button>
    </mat-menu>
  </div>
  <div class="card-content" *ngIf="user">
    <cuper-avatar-file
      [file]="user.image_url || userService.getAvatar(user.join_at)"
      [isLoading]="isLodingImage"
      (propagateFile)="onListenerFile($event)"
      [size]="80">
    </cuper-avatar-file>
    <h3>{{user.name}}</h3>
    <span>{{user.email}}</span>
    <span>{{user.national_id}}</span>
  </div>
</mat-card>
